<!-- Footer Links -->
<div class="footer">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">

            <!-- Content -->
            <div class="container">
                <h5 class="text-uppercase">Newsletter</h5>
                <form>
                    <div class="form-group">
                        <label for="name">Adresse Email</label>
                        <input type="text" class="form-control" id="mail" required>
                    </div>

                    <button type="submit" class="btn btn-success">S'inscire a la newsletter</button>

                </form>
            </div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Société</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="https://matau1405.github.io/printed/projetEtFormation/">Notre projet</a>
                </li>
                <li>
                    <a href="https://matau1405.github.io/printed/HTML%20%20projet%20groupe/printed/">Qui sommes nous ?</a>
                </li>
                <li>
                    <a href="#!">Conditions générales de ventes</a>
                </li>
                <li>
                    <a href="#!">Mentions légales</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Service</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Ma commande</a>
                </li>
                <li>
                    <a href="#!">Aide</a>
                </li>
                <li>
                    <a href="#!">Contact</a>
                    <p id="infocontact">06.18.18.07.59 </p>
                    <p>Du lundi au vendredi</p>
                    <p>Printed@gmail.com</p>
                </li>

            </ul>

        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Suivez-nous</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="https://www.facebook.com/">Facebook</a>
                </li>
                <li>
                    <a href="https://twitter.com/?lang=fr">Twitter</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/?hl=fr">Instagram</a>
                </li>
                <li>
                    <a href="https://www.pinterest.fr/">Pinterest</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2019-2020 Copyright: INTI Adaming Printed

</div>
<!-- Copyright -->

</footer>
<!-- Footer -->
