<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="authentification">
            <h2><span>Authentification</span> {{authentification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{authentification.login}}</span>
                </dd>
                <dt><span>Passeword</span></dt>
                <dd>
                    <span>{{authentification.passeword}}</span>
                </dd>
                <dt><span>Paiement</span></dt>
                <dd>
                    <div *ngIf="authentification.paiement">
                        <a [routerLink]="['/paiement', authentification.paiement?.id, 'view']">{{authentification.paiement?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/authentification', authentification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
