<div>
    <h2 id="page-heading">
        <span>Paiements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-paiement" [routerLink]="['/paiement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Paiement
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="paiements?.length === 0">
        <span>No paiements found</span>
    </div>
    <div class="table-responsive" *ngIf="paiements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Posseseur Carte</span></th>
            <th scope="col" ><span>Type Carte</span></th>
            <th scope="col" ><span>Numero Carte</span></th>
            <th scope="col" ><span>Date Exp</span></th>
            <th scope="col" ><span>Crypotogramme</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paiement of paiements ;trackBy: trackId">
                <td><a [routerLink]="['/paiement', paiement.id, 'view' ]">{{paiement.id}}</a></td>
                <td>{{paiement.posseseurCarte}}</td>
                <td>{{paiement.typeCarte}}</td>
                <td>{{paiement.numeroCarte}}</td>
                <td>{{paiement.dateExp}}</td>
                <td>{{paiement.crypotogramme}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/paiement', paiement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/paiement', paiement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/paiement', { outlets: { popup: paiement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
