<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-produits-heading">Create or edit a Produits</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idProd">Id Prod</label>
                    <input type="text" class="form-control" name="idProd" id="field_idProd"
                           formControlName="idProd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nomProd">Nom Prod</label>
                    <input type="text" class="form-control" name="nomProd" id="field_nomProd"
                           formControlName="nomProd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descriptionProd">Description Prod</label>
                    <input type="text" class="form-control" name="descriptionProd" id="field_descriptionProd"
                           formControlName="descriptionProd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prixProd">Prix Prod</label>
                    <input type="text" class="form-control" name="prixProd" id="field_prixProd"
                           formControlName="prixProd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dispo">Dispo</label>
                    <input type="checkbox" class="form-control" name="dispo" id="field_dispo"
                           formControlName="dispo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock"
                           formControlName="stock"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_marque">Marque</label>
                    <input type="text" class="form-control" name="marque" id="field_marque"
                           formControlName="marque"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_personnalisable">Personnalisable</label>
                    <input type="checkbox" class="form-control" name="personnalisable" id="field_personnalisable"
                           formControlName="personnalisable"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imageProd">Image Prod</label>
                    <input type="text" class="form-control" name="imageProd" id="field_imageProd"
                           formControlName="imageProd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imagePersonnalisation">Image Personnalisation</label>
                    <input type="text" class="form-control" name="imagePersonnalisation" id="field_imagePersonnalisation"
                           formControlName="imagePersonnalisation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taille">Taille</label>
                    <select class="form-control" name="taille" formControlName="taille" id="field_taille">
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_panier">Panier</label>
                    <select class="form-control" id="field_panier" name="panier" formControlName="panier">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="panierOption.id === editForm.get('panier').value?.id ? editForm.get('panier').value : panierOption" *ngFor="let panierOption of paniers; trackBy: trackPanierById">{{panierOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
